<ul class="project-entries">
  {% for entry in site.data.home.project_entries %}
    {% assign index = forloop.index0 | modulo: 3 %}
    {% if index == 0 %}
      <li class="project-row">
    {% endif %}
    <a href="{{ entry.url }}" class="card-link">
      <div class="card">
        <div class="header">
          {{ entry.title }}
          {% if entry.highlight %}
            <mark>{{ entry.highlight }}</mark>
          {% endif %}
        </div>
        <hr>
        {% if entry.desc != false %}
          <p class="body">{{ entry.desc }}</p>
        {% endif %}
      </div>
    </a>
    {% if index == 2 or forloop.last %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
